@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  color: #444444; 
}

.ul {
  list-style-type: none;
  margin-left: 1%;
  margin-right: 1%;
  padding: 0px;
  background-color: black;
}

li a {
  display: block;
  color: white;
}

.active {
  background-color: rgb(41, 172, 215);
}

li {
  text-align: center;
}

h1 {
  font-family: "Raleway", sans-serif;
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
}

.section-title h2::before,
.section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #3498db;
  display: inline-block;
}

.section-title h2::before {
  margin: 0 15px 10px 0;
}

.section-title h2::after {
  margin: 0 0 10px 15px;
}

.btn-call {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-call:hover {
  color: #ffffff;
  background: #2383c4;
}

.contact {
  margin-bottom: 40px;
}

.contact .form-group {
  margin-bottom: 20px;
}

.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  color: #888;
}

.contact .info {
  color: #444444;
}

.btn-submit {
  background: #3498db;  
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  border: 2px solid #3498db;
  margin-top: 0px;
  margin-bottom: 30px;
}

.btn-submit:hover {
  background: #2383c4;
}